*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #051B2B;
    /* background-color: radial-gradient(circle, #030709, #0c171c, #0f222c, #122d3e, #173851);; */
    /* background-image: linear-gradient(to bottom, #030709, #0c171c, #0f222c, #122d3e, #173851); */
    /* background-image: radial-gradient(circle, #030709, #0c171c, #0f222c, #122d3e, #173851); */
    width: 100%;
    height: 100vh;
    color: aliceblue;
}

a{
    text-decoration: none;
}

.navbar{
    display: flex;
    align-self: center;
    justify-content: space-between;
    color: aliceblue;
    padding: 20px 50px;
    background-color: rgb(30, 30, 31);
}

.nav-link ul{
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-link ul li{
    color: aliceblue;
    text-transform: uppercase;
    list-style: none;
}

.hero{
    /* height: 100%; */
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    color: aliceblue;
    /* background-color: antiquewhite; */

}

.home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;
}

.about-me{
    width: 55%;
    /* background-color: aqua; */

}

.about-me h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.about-me p{
    font-size: 1.3rem;
    text-align: justify;
    line-height: 1.3;
}

.cta{
    margin-top: 1rem;
    padding: 10px 20px;
    background-color: #041018;
    border:1px solid #051B2B;
    border-radius: 10px;
    color: aliceblue;
    font-size: 20px;
}

.cta:hover{
    scale: 1.1;
    transition: all .3s ease-in-out;
}

.about-me h1::first-letter{
    color: brown;
    font-size: 5rem;
}

.my-img{
    /* background-color: blue; */
    width: 30%;
}
.my-img img{
    width: 80%;
    border-radius: 20px;
    /* border: 5px solid black; */
}


/* education section */
.about-sec{
    margin-top: 5rem;
    /* background-color: aliceblue; */
}
.about h3{
    text-align: center;
    padding-top: 1rem;
}

.about-sec{
    margin: auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 5rem;
    /* background-color: aliceblue; */
}

.about-sec .edu-img{
    width: 30%;
}

.about-sec .edu-img img{
    width: 100%;
}

.education{
    width: 30%;

    /* background-color: aliceblue; */
}

.education ul{
    margin-bottom: 1rem;
    list-style: none;
}

/* project sections */

.projects{
    padding-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    width: 90%;
    margin: auto;
}
.project1{
    /* background-color: antiquewhite; */
    /* padding: 15px; */
    width: 35%;
}

.project1 img{
    width: 100%;
}

.footer-sec{
    margin: 5rem 0;
    text-align: center;
    /* background-color: aqua; */
    height: 5rem;
}