*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #2A3036;
    color: #FDFFFF;
    width: 100%;
    height: 100%;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
}
.logo img{
    /* background-color: aqua; */
    width: 60px;
}
.logo h1{
    font-size: 25px;
    text-transform: uppercase;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 80px;
    /* background-color: aliceblue; */

}

.nav-links ul{
    display: flex;
    align-self: center;
    justify-content: center;
    list-style: none;
    gap: 20px;
    text-transform: uppercase;
}

.list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* background-color: aqua; */
}

.search{
    /* background-color: #FDFFFF; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 30px;
}
.glass{
    width: 5px;
    font-size: 15px;
    /* padding-top: 8px; */
}

.container h1{
    font-size: 50px;
    /* background-color: rgb(19, 31, 41); */
    width: 70%;
    height: 40vh;
    text-align:center;
    margin: auto;
    text-transform: uppercase;
    margin-top: 7rem;
}

.footer {
    display: flex;
    align-items: center;
    background-color: #FDFFFF;
    /* height: 13vh; */
    margin-top: 5rem;
    padding: 5px;
    

}

.side-txt {
    color: #000;
    margin-right: 15px;
    text-align: center;
    width: 15%;
    font-size: 17px;
    /* text-transform: uppercase; */
}
.side-txt p{
    text-transform: uppercase;
}
.side-txt span{
    color: #B1C293
}
.footer-img {
    display: flex;
    gap: 10px;

}

.footer-img .admin {
    background-image: url(https://designmodo.com/wp-content/uploads/2015/12/4-YnY.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px 30px;
    text-align: center;
    /* width: 15rem; */
}
.footer-img .admin {
    background-image: url(https://designmodo.com/wp-content/uploads/2015/12/4-YnY.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 15rem; */
    padding: 15px 30px;
    text-align: center;
}
.footer-img .admin {
    background-image: url(https://designmodo.com/wp-content/uploads/2015/12/4-YnY.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 15rem; */
    padding: 15px 30px;
    text-align: center;
}
.footer-img .admin {
    background-image: url(https://designmodo.com/wp-content/uploads/2015/12/4-YnY.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 10rem; */
    padding: 15px 30px;
    text-align: center;
}
.footer-img .admin {
    background-image: url(https://designmodo.com/wp-content/uploads/2015/12/4-YnY.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 13rem;
    padding: 15px 30px;
    text-align: center;
}

